body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #9077d4;
}
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6ea7d3;
}
h1 {
    color: #fff;
    font-size: 4em;
}